<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <h1 v-show="connect">Esta Conectado</h1>
    <h2 v-if="user">Soy yo Adrian</h2>
    <p v-if="year >= 18">Yo soy mayor de edad</p>
    <p v-else>Yo soy menor de edad</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./index.js"></script>
</body>
</html>